@{
    ViewBag.Title = " - About Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="aboutMe">
    <p>Hi! My name is Dylan Belcher. I'm a .NET and iOS developer. I've built this site, to use as a repository for useful bits of code. Feel free to use anything here, and if you have your own snippets to offer, please post them here. I'll test them, and edit if need be. The one caveat: I'd like to use this for short snippets, with discrete functionalities.</p>

</div>

<div id="contact">
    <p>Email: dillion256@gmail.com</p>
</div>

@Html.Partial("_languageIcons")