@model IEnumerable<PersonalSite.Models.Snippet>

@{
    ViewBag.Title = "Swift";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="snippetHeader">
    <h2>Swift Snippets</h2>
</div>

<div class="linkButton">
    <button onclick="location.href='@Url.Action("Create", "Snippet")'; return false;">Create a snippet</button>
</div>




@foreach (var snippet in Model)
{
    <div class="snippetLink">
        @Html.ActionLink(snippet.Title, "ViewSnippet", new { id = snippet.ID })
    </div>
}
