<header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><img src="Images/lion2.png" class="img-responsive" /></div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>